.element-container {
  position: absolute;
  transition: transform 0.5s ease;
}
.element {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid var(--border);
  background-color: black;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  user-select: none;
  border-radius: 75px;
  display: flex;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  scale: 1.05;
  overflow: hidden;
}
.element .element-background {
  pointer-events: none;
  position: absolute;
  object-position: center center;
  width: 100%;
  filter: blur(20px) contrast(150%) brightness(150%);
}
.element .cover {
  pointer-events: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.element p {
  background: linear-gradient(
    to right,
    var(--text-bright) 90%,
    transparent 100%
  );
  background-clip: text;
  pointer-events: none;
  color: transparent;
  /* color: var(--text-bright); */
  font-weight: 800;
  font-size: 1.4rem;
  overflow: hidden;
  text-wrap: nowrap;
  max-width: 80%;
  box-sizing: border-box;
  display: flex;
  padding: 10%;
  z-index: 1;
  /* text-shadow: 0 0 5px black; */
}
.element.filler {
  box-shadow: none;
  cursor: unset;
  border: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
}

.trails {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.trail {
  stroke: var(--border);
}

.element.selected {
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.8));
}

.active:not(.completed) {
  stroke: var(--active);
  /* -webkit-filter: drop-shadow(5px 5px 10px var(--active-glowing)); */
  filter: drop-shadow(0px 0px 10px var(--active-glowing));
  border-color: var(--active);
  stroke: var(--active);
}
.completed {
  border-color: gray;
  stroke: gray;
}
.completed p {
  filter: grayscale(100%) brightness(50%);
}
.completed .element-background {
  filter: blur(20px) contrast(150%) brightness(50%) grayscale(100%);
}
.filler.active {
  border: none;
}

.element.universe {
  outline-color: var(--text);
}
