.profile-page {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--element);
  color: var(--text);
}
.profile-page h1 {
  margin: 0;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--text);
}
.profile-page h2 {
  font-weight: 400;
  font-size: 1.2rem;
}
.profile {
  padding: 0 2rem;
}
.profile a {
  all: unset;
}
.profile .universe-bar {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.profile .universe-bar:hover {
  background-color: var(--element1);
}
.profile .universe-bar:active {
  background-color: var(--element2);
}

.profile .title {
  font-weight: 500;
  padding: 0.5rem 0;
}
.profile .progress {
  text-align: center;
  font-weight: 700;
}
.profile .bar {
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem;
  box-sizing: border-box;
}
.profile .percent {
  mix-blend-mode: difference;
}
