.universe-link {
  position: relative;
  min-height: 200px;
  max-height: 300px;
  height: 50vw;
  height: minmax();
  width: 100%;
  color: var(--element);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  scale: 1;
  transition: scale 0.3s ease;
  box-shadow: 0 10px 10px var(--dark);
}
.universe-link .back-color {
  position: absolute;
  z-index: -1;
  width: 100%;
  filter: blur(50px);
  scale: 1.5;
}
/* .universe-link:active {
  scale: 0.99;
} */
.universe-link .image {
  margin: auto;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  object-fit: cover;
  object-position: center 60%;
  scale: 1;
  transition: scale 0.5s cubic-bezier(0.35, 0.01, 0, 1.03);

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255) 20%,
    rgba(255, 255, 255) 80%,
    transparent 100%
  );
}
.universe-link:hover .image {
  scale: 1.05;
}
.universe-link .info-shade {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.universe-link .info {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.universe-link h2 {
  width: 100%;
  text-align: center;
  color: var(--text-bright);
  font-weight: 500;
  font-size: clamp(1rem, 5vw, 3rem);
  margin: 0;
  text-shadow: 0 0 20px black;
}

.universe-link .info p {
  margin: 0;
  font-size: clamp(0.6rem, 3.5vw, 1rem);
  white-space: nowrap;
}
.universe-link .info .details {
  display: flex;
  width: 100%;
  justify-content: center;
  text-shadow: 0 0 20px black;
}
.universe-link .details .duration {
  border-right: 1px solid var(--text);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.universe-link .info .details p {
  color: var(--text);
}
