:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --dark: #020210;
  --normal: #151536;
  --text: rgb(201, 204, 255);

  --back: #151536;
  --overlay: rgba(31, 26, 63, 0.5);
  --map-back: #030319;

  --text-bright: rgb(225, 226, 255);
  --element: #333363;
  --active: rgba(255, 255, 255);
  --border: rgb(119, 126, 191);
  --active-trail: white;
  --active-glowing: rgb(127, 229, 255);
}
body {
  margin: 0;
}

/* * {
  user-select: none;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--overlay);
  /* #191938; */
  /* margin-block: 0.5rem; */
}
::-webkit-scrollbar-thumb {
  background-color: var(--element);
  opacity: 0.8;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d77;
}
