:root {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;

  --dark: #020210;
  --normal: #151536;
  --normal1: #202045;
  --normal2: #2b2b57;
  --text: rgb(201, 204, 255);

  --back: #151536;
  --overlay: rgba(20, 16, 66, 0.7);
  --map-back: #0b0b25;

  --text-bright: rgb(225, 226, 255);
  --element: #282864;
  --element1: #42427b;
  --element2: #505090;
  --active: rgba(255, 255, 255);
  --border: rgb(79, 86, 156);
  --active-trail: white;
  --active-glowing: rgb(127, 229, 255);
}

* {
  -webkit-tap-highlight-color: transparent;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.archivo-black {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--overlay);
}
::-webkit-scrollbar-thumb {
  background-color: var(--element);
  opacity: 0.8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d77;
}

.wrapper {
  display: inherit;
  height: inherit;
  justify-content: inherit;
  align-items: inherit;
  background-color: inherit;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
  z-index: inherit;
}
