.filter-bar {
  box-shadow: none;
  backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0);
  grid-area: filters;
  padding: 0 0.5rem;
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.filter-bar .glowing {
  object-position: center 0;
  filter: blur(20px) saturate(110%) brightness(150%);
  left: 0;
}

.filters {
  position: relative;
  width: 100%;
  overflow: auto;
  display: flex;
  padding-left: 0.5rem;
}
.filter {
  position: relative;
  box-shadow: none;
  color: var(--text-bright);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 0.6rem 0.8rem 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.filter .glowing {
  filter: blur(50px) brightness(1%) saturate(110%);
  scale: 5;
}
.filter label {
  position: relative;
  padding: 0.5rem 3rem 0.5rem 1rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease;
}
.filter label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filter input {
  position: relative;
  display: none;
}
.filter .custom-checkbox {
  pointer-events: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  background-color: transparent;
  outline: 2px solid var(--text-bright);
  outline-offset: 3px;
  width: 14px;
  height: 14px;
  margin-left: 1rem;
  border-radius: 1px;
}
.filter input:checked ~ .custom-checkbox {
  opacity: 0.7;
  outline: 2px solid var(--text-bright);
  background-color: var(--text-bright);
}

@media screen and (max-width: 600px) {
  .filter {
    font-size: 0.8rem;
    margin: 0.3rem 0.4rem 0.3rem 0;
  }
  .filter label {
    position: relative;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
  .filter .custom-checkbox {
    width: 10px;
    height: 10px;
  }
}
