.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  background-color: var(--normal);
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px var(--dark);
  background: linear-gradient(
    160deg,
    rgb(23, 32, 79),
    rgb(30, 15, 77),
    var(--dark)
  );
}

.page-container {
  background: linear-gradient(to bottom, black, var(--normal));
  background-color: black;
  overflow: visible;
}
.hero .back-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0.05) 98%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0.05) 98%
    );
  background-size: 50px 50px;
}
.hero .wrapper {
  display: flex;
  flex-direction: column;
}
.hero .stick {
  white-space: nowrap;
}
.hero h1,
.hero h5 {
  margin: 0 1rem;
  color: var(--text-bright);
  text-align: center;
}
.hero h1 {
  font-size: clamp(2.3rem, 6vw, 5rem);
  font-weight: 800;

  padding: 0 1rem;
}
.hero h5 {
  font-size: clamp(1.2rem, 3vw, 1.3rem);
  font-weight: 400;
  margin: 0 2rem;
}

.content-list {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-list .wrapper {
  margin: 0;
}
.content-list h3 {
  position: absolute;
  margin: 0;
  margin-bottom: 3rem;
  color: var(--text);
  font-weight: 500;
  transform: translate(0, -100%);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--text);
}

.content-list h4 {
  margin: auto;
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 300;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  height: 50px;
  padding: 1rem;
}
.footer p {
  color: var(--text);
  text-align: center;
}
.footer a {
  color: var(--text);
  text-decoration: none;
}

.home-page .nav-cover {
  background-color: transparent;
}
