:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --back: #030319;
  --border: rgb(201, 204, 255);
  --element: #333363;
  --active: rgb(255, 255, 65);
}
body {
  margin: 0;
}

.map-frame {
  background-color: gray;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}
.map-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
}
.map-container {
  position: relative;
  background-color: var(--back);
  max-width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.map-container::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.map {
  color: white;
  /* background-color: black; */
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
  box-sizing: border-box;
  /* transition: transform 0.5s linear, width 0.5s linear, margin 0.5s linear; */
}

.level {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10px;
}
.element-container {
  position: absolute;
}

.element {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 5px solid var(--border);
  background-color: var(--element);
  cursor: pointer;
  user-select: none;
  border-radius: 75px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.element p {
  pointer-events: none;
  color: var(--border);
  margin: 0 1rem;
  max-width: 80%;
  font-weight: 700;
  overflow: hidden;
  text-wrap: nowrap;
}
.element.filler {
  cursor: unset;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.element.series {
  border-radius: 0;
}

.trails {
  pointer-events: none;
  /* z-index: -1; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.trail {
  stroke: var(--border);

  background-color: yellow;
}

.element.active {
  outline-color: var(--active);
}

.active {
  stroke: var(--active);
}
.filler.active {
  outline: none;
}

.element.universe {
  outline-color: var(--border);
}

.map-frame .heading {
  position: absolute;

  height: 100%;
  box-sizing: border-box;
  width: 40vw;
  min-width: 200px;
  max-width: 300px;

  background-color: rgba(18, 15, 39, 0.8);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.map-frame .heading img {
  position: relative;
}
.heading .info {
  color: var(--border);
  padding: 0 1.5rem;
}

.heading .title {
  text-align: center;

  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 700;
}
.heading .description {
  opacity: 0.9;
}
