:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --back: #030319;
  --border: rgb(201, 204, 255);
  --element: #333363;
  --active: rgb(255, 255, 65);
}
body {
  margin: 0;
}

.map-frame {
  background-color: gray;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}
.map-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
  /* min-height: 100vh; */
}
.map-container {
  position: relative;
  background-color: var(--back);
  max-width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;

  /* padding: 50vmax; */
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.map-container::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.map {
  scale: 1;
  color: white;
  background-color: black;
  position: relative;

  overflow-x: visible;
  overflow-y: visible;
  box-sizing: border-box;
  /* padding: auto; */
  /* margin: 50vh 50vw; */
  /* transition: transform 0.1s ease; */
}

.level {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10px;
}

.element {
  left: 0;
  position: absolute;
  /* width: 100px; */
  overflow: hidden;
  display: flex;
  text-align: center;
  /* padding: 0 100%; */
  outline: 2px solid var(--border);
  box-sizing: border-box;
  background-color: var(--element);
  z-index: 1;
  cursor: pointer;
  user-select: none;
  border-radius: 75px;
  scale: 1.05;

  display: flex;
  align-items: center;
}
.element p {
  color: var(--border);
  margin: 0;
  /* font-size: 10px; */
  text-wrap: nowrap;
}
.element.filler {
  cursor: unset;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.element.series {
  border-radius: 0;
  scale: 1;
}

.trails {
  /* background-color: black; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
  mix-blend-mode: normal;
  /* stroke: black; */
}

.trail {
  stroke: var(--border);
}

.element.active {
  outline: 2px solid var(--active);
}

.active {
  stroke: var(--active);
}
.filler.active {
  outline: none;
}

.element.universe {
  outline: 3px solid white;
  /* margin: 0 2rem; */
  box-sizing: border-box;
}

.map-frame .heading {
  /* position: fixed; */
  position: absolute;
  /* padding: 2rem 1rem; */
  height: 100%;
  box-sizing: border-box;
  width: 40vw;
  min-width: 200px;
  max-width: 300px;

  background-color: rgba(18, 15, 39, 0.8);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.map-frame .heading img {
  position: relative;
  /* opacity: 0.9; */
}
.heading .info {
  color: var(--border);
  padding: 0 1.5rem;
}

.heading .title {
  text-align: center;

  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 700;
}
.heading .description {
  opacity: 0.9;
}
