:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --back: #151536;
  --window: #030319;
  --overlay: rgba(31, 26, 63, 0.8);
  --map-back: #030319;
  --text: rgb(201, 204, 255);
  --text-bright: rgb(225, 226, 255);
  --element: #333363;
  --active: rgba(255, 255, 255);
  --border: rgb(119, 126, 191);
  --active-trail: white;
  --active-glowing: rgb(127, 229, 255);
}
body {
  margin: 0;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  /* margin-block: 0.5rem; */
}
::-webkit-scrollbar-thumb {
  background-color: var(--element);
  opacity: 0.8;
  /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d77;
}

.page {
  background-color: black;
  /* padding: 1rem; */
  max-height: 100vh;
  overflow: hidden;
}
.page h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.map-wrapper {
  position: relative;
  height: 95vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

.overlay {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    "sidebar filters"
    "sidebar overview";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  box-sizing: border-box;
  gap: 0.5rem;
}
.overlay.big {
  grid-template-areas: "sidebar overview filters";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
}
.overlay > *,
.filter {
  pointer-events: all;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: var(--overlay);
}
.filter-bar {
  box-shadow: none;
  backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0);
  grid-area: filters;
  height: max-content;
  padding-bottom: 5px;
  display: flex;
  overflow-y: visible;
  overflow-x: auto;
  /* margin: -10px;
  padding: 10px; */
}
.filter {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--overlay);
  border-radius: 5px;
  margin-right: 0.5rem;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.filter label {
  padding: 0.5rem 3rem 0.5rem 1rem;
  cursor: pointer;
}
.filter input {
  position: relative;
  display: none;
}
.filter .custom-checkbox {
  pointer-events: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  background-color: transparent;
  outline: 2px solid var(--border);
  outline-offset: 3px;
  width: 14px;
  height: 14px;
  margin-left: 1rem;
  border-radius: 1px;
}
.filter input:checked ~ .custom-checkbox {
  outline: 2px solid var(--border);
  background-color: var(--border);
  /* background: radial-gradient(var(--border) 49%, transparent 50%); */
}

.list-container {
  grid-area: sidebar;
  width: auto;
  height: 100%;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  width: 70px;
  border-radius: 5px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  cursor: pointer;
  background-color: var(--element);
}

.list {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.list-element {
  position: relative;
  color: var(--text);
  box-shadow: 0 0 10px black;
  background-size: cover;
  overflow: hidden;
}
.list-element .index {
  font-style: normal;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 5px black;
  color: var(--text-bright);
  z-index: 1;
}
.list-element img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
  filter: blur(1px);
}
.list-element.selected {
  outline: 2px solid var(--active-trail);
  filter: drop-shadow(0px 0px 3px var(--active-glowing));
}

.overview {
  grid-area: overview;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.overlay.big .overview {
  height: 100%;
  width: 300px;
  max-width: 40vh;
}
.overlay.small .overview {
  height: 30vh;
  min-height: 200px;
  width: 100%;
  margin-top: auto;
  padding: 2vh;
}

.overview .poster {
  grid-area: img;
  width: 100%;
  min-height: 60%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}
.overlay.small .overview .poster {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(1px);
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 1%,
    transparent 85%
  );
  object-position: center center;
  z-index: -1;
}

.overview .info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  color: var(--text);
  padding: 0 3vh;
  overflow: auto;
  z-index: 1;
  background-color: var(-);
  height: 100%;
}
.overlay.small .overview .info {
  transform: none;
  padding: 0;
  max-height: 100%;
  overflow: auto;
  text-shadow: 0 0 10px var(--back);
  z-index: 1;
}

.overview .title {
  z-index: 1;
  text-align: center;
  color: var(--text-bright);
  font-size: 4vh;
  margin-top: 1.5vh;
  font-weight: 500;
}
.overlay.small .overview .title {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}
.overview .specifics {
  text-align: center;
  font-size: 2vh;
  font-weight: 450;
  margin-bottom: 1vh;
}

.overview .description {
  font-size: 2vh;
  flex-grow: 1;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.overlay.small .overview .description {
  font-size: 1rem;
  color: var(--text);
  padding: 0 0.5rem;
}

.overview .action-bar {
  grid-area: action;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh;
  margin-top: auto;
  box-sizing: border-box;
}

.overlay.small .action-bar {
  padding: 1rem 10%;
}
.overview .watch-after {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-bottom: 1vh;
  border-top: 2px solid var(--border);
  z-index: 1;
}
.overlay.small .watch-after {
  display: none;
}
@media screen and (max-height: 450px) {
  .overview .watch-after {
    display: none;
  }
}
.overview .watch-after h5 {
  color: var(--text);
  padding: 0.5vh;
  padding-bottom: 0;
  font-size: 1.5vh;
  font-weight: 500;
  margin: 0.1vh;
}
.overview .watch-after-list {
  width: 100%;
  overflow: auto;
  display: flex;
}
.overview .watch-after-title {
  display: inline-block;
  padding: 0.5vh 1vh;
  height: auto;
  font-size: 1.5vh;
  border-radius: 1rem;
  margin: 0.3vh 0.5vh;
  font-weight: 650;

  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  background-color: var(--element);
  color: var(--text);
  opacity: 0.7;
  box-shadow: 0 0 5px black;
}
.overview .important {
  background-color: var(--text);
  color: var(--element);
}
.overview .complete-button {
  max-width: 300px;
  width: 100%;
  height: 6vh;
  margin: auto;
  padding: 1vh 2vh;
  border-radius: 5px;
  font-size: 3vh;
  background-color: var(--text);
  border: none;
  color: var(--element);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview .complete-button.completed {
  opacity: 0.5;
}
.overview .complete-button .checkMark {
  width: 40px;
  margin: 0 1vh;
}
.overlay.small .overview .action-bar {
  padding: 0;
  padding-top: 2vh;
}

.background {
  pointer-events: none;
  position: fixed;
  height: 80%;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 1%,
    transparent 100%
  );
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.map-container {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0.05) 98%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0.05) 98%
    );
  background-size: 50px 50px;
  background-color: var(--map-back);
  max-width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.map-container::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.map {
  color: white;
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
  box-sizing: border-box;
  /* background-color: black; */
  /* transform-origin: 0 0; */
}

.level {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10px;
}
.element-container {
  position: absolute;
  transition: transform 0.5s ease;
}
.element {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid var(--border);
  background-color: var(--element);
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  user-select: none;
  border-radius: 75px;
  display: flex;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  scale: 1.05;
  overflow: hidden;
}
.element.completed {
  /* border-color: gray; */
}
.element img {
  pointer-events: none;
  position: absolute;
  object-position: center center;
  width: 100%;
  filter: blur(20px) contrast(150%) brightness(150%);
}
.element .cover {
  pointer-events: none;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px) contrast(110%);
  width: 100%;
  height: 100%;
}
.element p {
  background: linear-gradient(
    to right,
    var(--text-bright) 90%,
    transparent 100%
  );
  background-clip: text;
  pointer-events: none;
  color: transparent;
  /* color: var(--text-bright); */
  font-weight: 800;
  font-size: 1.4rem;
  overflow: hidden;
  text-wrap: nowrap;
  max-width: 80%;
  box-sizing: border-box;
  display: flex;
  padding: 10%;
  z-index: 1;
  /* text-shadow: 0 0 5px black; */
}
.element.filler {
  box-shadow: none;
  cursor: unset;
  border: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
}

.trails {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.trail {
  stroke: var(--border);
  /* filter: drop-shadow(0px 0px 5px black); */
}

.active:not(.completed) {
  stroke: var(--active);
  /* -webkit-filter: drop-shadow(5px 5px 10px var(--active-glowing)); */
  filter: drop-shadow(0px 0px 10px var(--active-glowing));
  border-color: var(--active);
  stroke: var(--active);
}
.completed {
  border-color: gray;
  stroke: gray;
}

.filler.active {
  border: none;
}

.element.universe {
  outline-color: var(--text);
}

.dot {
  background-color: red;
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: 100;
}
